[setup]
pktsdirs /tmp/pkts /some/other/source

[areas]
#         path-to-area   map-target-script(future, optional)
fullrun   path=tests/fullrun;  targtrans=prefix-contour
ext-tests path=ext-tests; targtrans=prefix-contour

[contours]
#     mode-patt/tag-expr
quick selector=quick/QUICKPATT
full  areas=fullrun,ext-tests; elector=all/MAXPATT

