[fields]
release TEXT
iteration TEXT

[setup]
linktree #{getenv MT_RUN_AREA_HOME}/links
max_concurrent_jobs 100
logviewer (%MTCMD%) 2> /dev/null > /dev/null
# htmlviewercmd firefox -new-window 
htmlviewercmd arora

[jobtools]
launcher nbfake
maxload 1.5

[disks]
disk0 #{getenv MT_RUN_AREA_HOME}/runs

