[fields]
sysname TEXT
fsname TEXT
datapath TEXT

[setup]
max_concurrent_jobs 5

[jobtools]
# ## launcher launches jobs, the job is managed on the target host
## by megatest, comment out launcher to run local
# workhosts localhost hermes
launcher nbfake

[validvalues]
state start end completed
status pass fail n/a

# These are set before all tests, override them 
# in the testconfig [pre-launch-env-overrides] section
[env-override]
SPECIAL_ENV_VARS overide them here - all tests see these

## disks are:
## name host:/path/to/area
## -or-
## name /path/to/area
[disks]
1 /tmp
