[fields]
sysname TEXT
fsname TEXT
datapath TEXT

[setup]
executable megatest

[jobtools]
# ## launcher launches jobs, the job is managed on the target host
## by megatest, comment out launcher to run local
# workhosts localhost hermes
launcher nbfake

[validvalues]
state start end completed
status pass fail n/a

[env-override]
SPECIAL_ENV_VARS overide them here - all tests see these

## disks are:
## name host:/path/to/area
## -or-
## name /path/to/area
[disks]
1 /tmp
