[fields]
PLATFORM TEXT
OS       TEXT
OSVER    TEXT

[setup]
# Adjust max_concurrent_jobs to limit parallel jobs
max_concurrent_jobs 10

# This is your link path, best to set it and then not change it
linktree #{getenv MT_RUN_AREA_HOME}/linktree

# Job tools control how your jobs are launched
[jobtools]
useshell yes
launcher nbfind

# As you run more tests you may need to add additional disks 
# the names are arbitrary but must be unique
# 
[disks]
disk0 #{getenv MT_RUN_AREA_HOME}/runs

# put env-override last so definitions in site.config by default
# are added as env-override variables
#
[env-override]
[include site.config]
