'(sroot   "/path/to/www"
  logfile "/path/to/logs/megatest.log"     ;; this is now required!
  twikidir "/path/to/writable/work/area"
  dbtype  pg ;; 'sqlite3 ;; or 'pg
  dbinit   '((dbname   . "megatest_db")
            (user      . "username")
            (password  . "secretpassword")
            (host      . "localhost"))
  domain  "yourdomain.com"
  page-dir-style flat
  debugmode  #t)

