[miscvars]

[default]
ALLTESTS see this variable
PROX #{scheme (if (get-environment-variable "proxy") (conc "-proxy " (get-environment-variable "proxy")) "")}
http_proxy #{scheme (if (get-environment-variable "proxy") (conc "http://" (get-environment-variable "proxy")) "")}
PREFIX #{getenv MT_RUN_AREA_HOME}/#{getenv CONFIGURATION}/#{getenv MT_RUNNAME}

[stdrel]
CHICKEN_VERSION 4.8.0
IUPLIB 26g4
IUP_VERSION na
SQLITE3_VERSION 3071401
PLATFORM linux
ZEROMQ_VERSION  2.2.0

[ck-4.8.2]
CHICKEN_VERSION 4.8.2
IUPLIB 26g4
IUP_VERSION na
SQLITE3_VERSION 3071401
PLATFORM linux
ZEROMQ_VERSION  2.2.0

