# Read in the users vars first (so the offical data cannot be overridden
[include datastore.config]

[storage]
1 /tmp/datastore/eng

[areas]
synthesis  asic/synthesis
verilog    asic/verilog
customlibs custom/oalibs

[target]
basepath #{getenv BASEPATH}

[quality]
0 untested
1 lightly tested
2 tested
3 full QA

[database]
location /tmp/datastore
