[settings]
base-dir      /tmp/pjhatwal/datashare/disk1
allowed-users matt mrwellan pjhatwal
allowed-chars [0-9a-zA-Z\-\.]+
default-area  megatest

# NOTE: packages-metadir defaults to exe dir if not specified here
# packages-metadir  /tmp/#{getenv USER}/packages

# conversion-script has semantics as cp, takes file1 and outputs file2
#   cp file1 file2
conversion-script cp
upstream-file     packages.config

[database]
location #{scheme (create-directory "/tmp/#{getenv USER}" #t)}

